---
  import BaseLayout from "../layouts/BaseLayout.astro";
  const allPosts = await Astro.glob("../pages/posts/*.md");
  const pageTitle = "Mi blog de aprendizaje de Astro";
---

<BaseLayout>
  <main class="text-center">
    <h2 class="text-4xl font-bold text-violet-700 from-violet-900">{pageTitle}</h2>
    <p class="py-4">Aquí es donde publicaré sobre mi viaje de aprendizaje de Astro.</p>

    <section class="m-2 grid grid-cols-3 w-[80ch] gap-5 mx-auto ">
      {allPosts.map((post) => (
        <div class=" py-4 mb-2 border rounded-[5px] bg-gray-700 bg-opacity-40 h-60 align-middle my-auto" >
          <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} class="w-[24ch] h-32 mx-1 rounded">
          <h3 class="h-12">{post.frontmatter.title}</h3>
          <a href={post.url} class="text-purple-700 font-bold ">Leer más</a>
        </div>
      ))}
    </section>
  </main>
</BaseLayout>
</style>
